<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contatos</title>
<meta name="description" content="Simples agenda de contatos">
<meta name="author" content="SitePoint">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<body>
    <div class="container container-form">
        <div class="row row justify-content-md-center">
            <div class="col-md-4 opcoes">
                <button id="btn-buscar" onclick="menuBuscar()" class="btn btn-primary">Buscar</button>
                <button id="btn-cadastrar" onclick="menuCadastrar()" class="btn btn-primary">Cadastrar</button>
            </div>
            <div class="col-md-4 cadastrar">
                <button id="btn-voltar" onclick="voltar()" class="voltar btn btn-dark"><i class="bi bi-arrow-left-square"> </i>Voltar</button>
                <h2>Cadastrar</h2>
                <label for="">Nome</label>
                <input id="nome" type="text" class="form-group">
                <label for="">Empresa</label>
                <input id="empresa" type="text" class="form-group">
                <label for="">Telefone</label>
                <input id="telefone" type="tel" class="form-group">
                <label for="">Email</label>
                <input id="email" type="email" class="form-group">
                <button id="btn-enviar" onclick="cadastrar()" class="btn btn-dark"><i class="bi bi-plus-circle"> </i>Cadastrar</button>
            </div>
            <div class="col-md-4 editar">
                <button id="btn-voltar" onclick="voltar()" class="voltar btn btn-dark"><i class="bi bi-arrow-left-square"> </i>Voltar</button>
                <h2>Editar</h2>
                <label for="">Nome</label>
                <input id="editar-nome" type="text" class="form-group">
                <label for="">Empresa</label>
                <input id="editar-empresa" type="text" class="form-group">
                <label for="">Telefone</label>
                <input id="editar-telefone" type="tel" class="form-group">
                <label for="">Email</label>
                <input id="editar-email" type="email" class="form-group">
                <div class="btn-editar"></div>
            </div>
            <div class="col-md-10 buscar">
                <button id="btn-voltar" onclick="voltar()" class="btn btn-dark"><i class="bi bi-arrow-left-square"> </i>Voltar</button>
                <h2>Buscar</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col busca">
                            <input id="params-busca" oninput="buscar()" type="text" class="form-group">
                            <button id="btn-search" onclick="buscar()" class="btn btn-dark"><i
                                    class="bi bi-search"></i></button>
                            <button onclick="todosContatos()" class="btn btn-dark"><i class="bi bi-card-list"> </i>Todos os registros</button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="mensagem">

                            </div>
                            <table class="table table-hover resultados">
                                <thead class="">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Empresa</th>
                                        <th>Email</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="linhas">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>